@page "/counter"

<h1>Counter</h1>

<p>TestCurrent count: @currentCount</p>

<button class="btn btn-primary" @onclick="TestClick">Click me</button>


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount += 2;
    }

    private void TestClick()
    {
        currentCount = 3;
    }
}
